{% extends 'base.html.twig' %}

{% block title %}Importar Ítems{% endblock %}

{% block body %}
    <h1>Importar Ítems desde CSV</h1>

    {{ form_start(form) }}
    {{ form_row(form.csv_file) }}
    <button class="btn btn-primary">Subir</button>
    {{ form_end(form) }}
{% endblock %}
