<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige lo que no sea archivo real ni carpeta a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
