<form method="post" action="{{ path('app_calidad_delete', {'id': calidad.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta Calidad?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calidad.id) }}">
    <button class="btn">Eliminar</button>
</form>
