{% extends 'base.html.twig' %}

{% block title %}Edit Calidad{% endblock %}

{% block body %}
    <h1>Edit Calidad</h1>

    {{ include('calidad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_calidad_index') }}">back to list</a>

    {{ include('calidad/_delete_form.html.twig') }}
{% endblock %}
