{% extends 'base.html.twig' %}

{% block title %}Editar Calidad{% endblock %}

{% block body %}
    <h1>Editar Calidad</h1>

    {{ include('calidad/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_calidad_index') }}" class="btn btn-primary">Volver a la lista</a>
{% endblock %}
