{% extends 'base.html.twig' %}

{% block title %}Nueva Calidad{% endblock %}

{% block body %}
    <h1>Crear Calidad</h1>

    {{ include('calidad/_form.html.twig') }}

    <a href="{{ path('app_calidad_index') }}">Volver a la lista</a>
{% endblock %}
