{% extends 'base.html.twig' %}

{% block title %}New Calidad{% endblock %}

{% block body %}
    <h1>Create new Calidad</h1>

    {{ include('calidad/_form.html.twig') }}

    <a href="{{ path('app_calidad_index') }}">back to list</a>
{% endblock %}
