{% extends 'base.html.twig' %}

{% block title %}Tienda de rol{% endblock %}

{% block body %}

    <h1>Bienvenido</h1>

    <p>Explora los artículos disponibles.</p>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Iniciar sesión</a>

    <br>

    <a href="{{ path('app_register') }}" class="btn btn-primary">Registrarse</a>

    <br>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_compra') }}" class="btn btn-primary">Compra de items</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <br><a href="{{ path('app_item_index') }}" class="btn btn-primary">CRUD de items</a>
    {% endif %}

{% endblock %}
