<h1>Bienvenido</h1>

<p>Explora los artículos disponibles.</p>

<a href="{{ path('app_register') }}" class="btn btn-primary">Registrarse</a>

<br>

<a href="{{ path('app_item_index') }}" class="btn btn-primary">A los items</a>
