{% extends 'base.html.twig' %}

{% block title %}Editar Artículo{% endblock %}

{% block body %}
    <h1>Editar Item</h1>

    {{ include('item/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_item_index') }}">Volver a la lista</a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
