{% extends 'base.html.twig' %}

{% block title %}Editar Artículo{% endblock %}

{% block body %}
    <h1>Editar Artículo</h1>

    {{ include('item/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_item_index') }}" class="btn">Volver a la lista</a>
{% endblock %}
