{% extends 'base.html.twig' %}

{% block title %}Nuevo Artículo{% endblock %}

{% block body %}
    <h1>Crear nuevo Item</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('app_item_index') }}">Volver a la lista</a>
{% endblock %}
